@use './globals' as *;

.news{
    padding-bottom: 40px;
    @include mq(){
        padding-bottom: 100px;
    }
    @include mq(xl){
        padding-bottom: 150px;
    }
    .news-list{
        max-width: 1000px;
        margin: 30px auto 0;
        background: $lightGray;
        padding: 15px 20px !important;
        border: 1px  solid #ddd;
        @include mq(l2){
            margin: 50px auto 0;
            .news-item a{
                display: flex;
                align-items: center;
            }

        }
        .item-flex{
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 10px;
            @include mq(l2){
                margin-bottom: 0;
            }
            & :nth-child(1){
                font-weight: normal;
                font-size: $small;
                color: $cGray;
            }
            & :nth-child(2){
                border: 1px solid #ddd;
                background: $cWhite;
                border-radius: 1.5rem;
                padding: 2px 10px;
                color: red;
                font-size: $small;
                margin-right: 15px;
            }
            .news-txt{
                line-height: 1.7 !important;
                font-size: 16px;
            }
        }

}
}
