// カラー
$cMain: #1b2fb5;
$cWhite: white;
$cBlack: black;
$cGray: #666666;
$cGray2:#dddd;
$lightGray: #FAFAFA;
$cWeb: #b20000;
$cSns: #004b67;
$cEdit: #006667;
$cSchool:#d8005a;
$cSes:#001575;
$cMarket:#00c0c6;
$cMenuHover:#00b7e0;
$cMenuBorder:#e06665;
$contentMaxWidth: 1070px;
$navHeight: 100px;

// fontサイズ
$h2: 28px;
$box-title: 30px;
$h4:20px;
$base:14px;
$small:12px;
// タブレット時
$t-h2: 34px;
$t-h2title: 48px;
$t-h4:26px;
$t-p:18px;


