@use './globals' as *;
.slide-wrapper{
    background: #000;
}
.slide-list{
    display: none;
    font-size: $base;
    max-width: 1030px;
    flex-wrap: wrap;
    margin: 0 auto;
    @include mq(){
        display: flex;
        padding: 30px;
    }
    .slide-item{
        border-bottom: .1px solid #3e3e3e;
        padding: 20px 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        visibility: visible;
        display: block;
        @include mq(){
            width: 25%;
            border: .1px solid #3e3e3e;
        }
    }

}

